/* nav */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

.container-navbar{
    width:90%;
    max-width:1200px;
    height:80px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav a{
    text-decoration:none;
    color:#333;
}

.btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:8px;
    cursor:pointer;
}

.hero{
    height:100vh;

   background-image:
    linear-gradient(
        to right,
        rgba(0,0,0,0.95),
        rgba(0,0,0,0.85),
        rgba(0,0,0,0.60),
        rgba(0,0,0,0.25)
    ),
    url("./assets/banner.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
}
.hero-content{
    text-align:center;
    color:white;
}

.hero-content h1{
    font-size:64px;
}

.hero-content p{
    font-size:20px;
    margin:20px 0;
}

.hero-btn{
    display:inline-block;
    background:#2563eb;
    color:white;
    text-decoration:none;
    padding:14px 30px;
    border-radius:8px;
}
/* ===========================
   Meet the Speakers
=========================== */

.speakers{
    width:90%;
    max-width:1200px;
    margin:100px auto;
}

.speaker-title{
    text-align:center;
    font-size:52px;
    font-weight:700;
    margin-bottom:50px;
}

.speaker-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.speaker-card{
    background:white;
    border:1px solid #e5e7eb;
    border-radius:12px;
    overflow:hidden;
}

.speaker-card img{
    width:100%;
    height:300px;
    object-fit:cover;
    display:block;
}

.speaker-info{
    padding:20px;
}

.speaker-info span{
    color:#2563eb;
    font-size:12px;
    font-weight:bold;
    text-transform:uppercase;
}

.speaker-info h3{
    margin-top:10px;
    font-size:28px;
    color:#111827;
}

.speaker-info p{
    margin-top:8px;
    color:#6b7280;
    font-size:16px;
}
/* ===========================
   Pricing Section
=========================== */

.pricing{
    padding:100px 0;
    background:#ffffff;
}

.pricing-title{
    text-align:center;
    font-size:54px;
    font-weight:700;
    color:#111827;
}

.pricing-subtitle{
    text-align:center;
    color:#6b7280;
    margin-top:12px;
    margin-bottom:60px;
    font-size:16px;
}

.pricing-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    margin:200px;
}

/* Card */

.pricing-card{
    background:#ffffff;
    border:1px solid #e5e7eb;
    border-radius:10px;
    padding:30px;
}

.plan{
    color:#9ca3af;
    font-size:12px;
    font-weight:bold;
    letter-spacing:1px;
}

.pricing-card h3{
    font-size:52px;
    margin-top:10px;
    color:#111827;
}

.price-text{
    color:#6b7280;
    margin-bottom:20px;
}

.pricing-card hr{
    border:none;
    border-top:1px solid #e5e7eb;
    margin:20px 0;
}

.pricing-card ul{
    list-style:disc;
    padding-left:20px;
}

.pricing-card li{
    margin-bottom:14px;
    color:#4b5563;
    font-size:15px;
}

/* Buttons */

.price-btn{
    width:100%;
    margin-top:30px;
    padding:14px;
    border-radius:8px;
    border:1px solid #2563eb;
    background:white;
    color:#2563eb;
    cursor:pointer;
    font-weight:600;
}

/* Featured Card */

.featured{
    background:#0f172a;
    color:white;
}

.featured h3,
.featured .price-text,
.featured li{
    color:white;
}

.featured hr{
    border-top:1px solid rgba(255,255,255,.2);
}

.featured .plan{
    color:#94a3b8;
}

.featured-btn{
    background:#2563eb;
    color:white;
    border:none;
}

/* Contact Button */

.contact-btn{
    border:1px solid #111827;
    color:#111827;
}
/* ===========================
   Schedule Section
=========================== */

.schedule{
    padding:100px 0;
    background:#f8fafc;
    margin:300px;
}

.schedule-title{
    text-align:center;
    font-size:52px;
    font-weight:700;
    color:#111827;
}

.schedule-subtitle{
    text-align:center;
    color:#6b7280;
    margin-top:15px;
    margin-bottom:60px;
    font-size:18px;
}

.schedule-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.schedule-card{
    background:#ffffff;
    border:1px solid #e5e7eb;
    border-radius:12px;
    padding:30px;
    transition:0.3s;
}

.schedule-card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.schedule-card h3{
    font-size:28px;
    color:#2563eb;
    margin-bottom:8px;
}

.schedule-card span{
    color:#6b7280;
    font-size:15px;
}

.schedule-card ul{
    margin-top:25px;
    padding-left:20px;
}

.schedule-card li{
    margin-bottom:15px;
    color:#374151;
    line-height:1.6;
}
.container-footer
{
    display:flex;
    justify-content:center;
    align-items:center;
}